<div id="position-form">
  <div data-geolocation-target="output"></div>
  <%= form_with(model: @spatial, data: {geolocation_target: "form"}) do |form| %>
    <%= form.hidden_field :lonlatheight, data: {geolocation_target: "field"} %>
    <%= form.label :taps %>
    <%= form.number_field :taps %>
    <p></p>
    <%= form.label :species %>
    <%= form.number_field :species, placeholder: 'optional' %>
    <%= form.submit 'submit', class: "", data: { turbo: false, geolocation_target: "submit"}  %>
  <% end %>
</div>
<% if @spatial.id %>
  <%= button_to "Delete", spatial_path(@spatial), method: :delete,
data: {turbo: false }, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100
font-medium" %>
<% end %>
