<div data-controller="geolocation gmaps">
  <div data-gmaps-api-value="<%= Rails.application.credentials.maps_api_key! %>"></div>
  <div data-gmaps-target="maple" class="hidden"><%= image_path("mini2.png") %></div>
  <%= render 'spatials/form' %>
  <div id="map" data-gmaps-target="map" class="h-[50rem] w-[50rem]"></div>
  <ul role="listing" data-gmaps-target="listings">
    <% current_user.spatials.each do |spatial|%>
      <% unless spatial.lonlatheight.nil? %>
        <li data-lat="<%= spatial.lonlatheight.y %>" data-lng="<%= spatial.lonlatheight.x %>">
        </li>
      <% end %>
    <% end%>
  </ul>
</div>
