<div data-controller="geolocation maps">
  <button data-action="geolocation#search">search near me</button>
  <%= form_with url:  spatials_path, data: {geolocation_target: "form"} do |form| %>
    <%= form.hidden_field :coords, data: {geolocation_target: "field"} %>
    <%= form.hidden_field :latitude, data: {maps_target: "latitude"} %>
    <%= form.hidden_field :longitude, data: {maps_target: "longitude"} %>
    <%= form.submit 'submit', class: "", data: { geolocation_target: "submit"}  %>
    <div data-geolocation-target="output"></div>
  <% end %>
  <div id="map" data-maps-target="map" class="h-[50rem] w-[50rem]"></div>
  <ul role="listing" data-maps-target="listings">
    <% current_user.spatials.each do |spatial|%>
      <li data-lat="<%= spatial.lonlatheight.y %>" data-lng="<%= spatial.lonlatheight.x %>">
      </li>
    <% end%>
  </ul>
</div>
