<!DOCTYPE html>
<html>
  <head>
    <title>Mapple</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload",
    type: "module" %>
    <%
=begin  %>
    <script>
      window.initMap = () => {
        console.log("initMap was called");
        const event = new Event("MapLoaded");
        event.initEvent("map-loaded", true, true);
        window.dispatchEvent(event);
      };
    </script>
    <%
=end  %>
    <%# javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.maps_api_key!}&libraries=places,marker&callback=initMap"%>
  </head>
  <body>
    <%= render partial: "layouts/flash_message" %>
    <main class="container mx-auto mt-28 px-5 flex flex-col">
      <div class="flex justify-between w-full">
        <%= link_to 'Home', root_path %>
        <% if  user_signed_in? %>
          <%= button_to(
          "Log Out",
          destroy_user_session_path,
          method: :delete
        ) %>
        <% else %>
          <%= button_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, data: { turbo: false } %>
        <% end %>
        <div>
          <% if user_signed_in? && current_user.image %>
            <%= image_tag current_user.image, class:
                "object-cover h-24 w-24 rounded-full" %>
            <strong><%= current_user.name %></strong>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
